@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
body {
    text-align: center;
    background-image:url(http://claytonbehavioranalyst.com/var/m_8/8d/8d2/59040/649338-White-Background-Iphone-Pics-1.jpg);
}
h1 {
  font-size:100px;
  color:black;
  font-family: 'Dancing Script', cursive;
  margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    text-shadow: 12px 15px grey;
}
h2{
  font-size: 35px;
  font-family: 'Poiret One', cursive;
}
h3{
  font-size:35px;
  font-family: 'Poiret One', cursive;
}
h4{
  font-size: 35px;
  font-family: 'Poiret One', cursive;
}
h5{
  font-size: 35px;
  font-family: 'Poiret One', cursive;
}
h6{
  font-size: 35px;
  font-family: 'Poiret One', cursive;
}
h7{
  
}
