@import url('https://fonts.googleapis.com/css?family=Poiret+One');
body {
font-size: 50px;
color:white;
  text-align: center;
  font-family: 'Poiret One', cursive;
  background-image:url(http://www.misucell.com/data/out/8/IMG_248928.gif)
}
